* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.header {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-end: 1;
}

.aboutMe {
  border: 1px solid red;
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.experience {
  border: 1px solid purple;
  grid-column-start:2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.projects {
  border: 1px solid pink;
  grid-column-start:2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.footer {
  border: 1px solid blue;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
